body {
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    background-size: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#photo {
    flex-direction: column;
    font-family: "Audiowide", cursive;
    background-color: #39446D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568);
    opacity: 0.8;
    margin: 20px 0 20px 0;
    height: auto;
}

img {
    border-radius: 50%;
    /* opacity: initial; */
    margin: 0;
    padding: 0;
    transition: 0.5s;
    align-self: middle;
    margin-top: 100px;
    margin-bottom:30px;
    margin-left: 41%;
    cursor: url('img/finger2.cur'), pointer;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #abbdff;
}

.container-fluid {
    display: flex;
    justify-content: center; 
}

h3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 350px;
    opacity: 1;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 1;
    margin-top: 10px;
}

a {
    align-items: center;
}