body {
  background-color: #818181;
}

.sidenav {
  font-family: "Audiowide", cursive;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #323b5c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none !important;
  font-size: 25px;
  color: white !important;
  display: flex;
  transition: 0.3s;
 
}

/* .sidenav a:hover {
    color: #818181;
  } */

.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#rocket {
  z-index: 1;
  transition: margin-left .5s;
  padding: 10px;
  margin-top: 10px;
  position: fixed;
  background-color: #5a5a5a;
  opacity: 0.8;
  border-radius: 0 10px 10px 0px;
}

#rocket img {
  margin-left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}