.projets {
    align-items: center;
    display: grid;
    margin: 2em;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 5em;
}

.img_projet {
    height: 350px;
    width: 380px;
    filter: blur(0px)grayscale(0px);
    transition: filter 0.5s ease-out;
    border-radius: 10px;
}

.titre {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.4em;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(90, 0, 10, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: all 0.5s ease-out;
    text-shadow: 2px 2px 10px black; 
}

.article_projets {
    position: relative;
    transition: .3s;
    border-radius: 10px;
}

.article_projets:hover {
    z-index: 1;
    transform: scale(1.1);
}



/* .article_projets:hover .img_projet {
    filter:blur(2px) grayscale(0.5);
    transition: filter 0.2s ease-in;
} */

.article_projets:hover .title {
    opacity: 1;
    transition: all .4s ease-in;
    text-shadow: 4px 5px 10px #1e3799;
}
