html,
html::before,
html::after {
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
    background-color: #1f1f1f;
}


#introTitre {
    margin-top: 50px;
    color: #ffffff;
}


/* OVERLAY */

/* #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.5); 
  } */


/* PHOTO */


.cadreIntro {
    background-color:#000000;
    /* background-size: auto; */
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
}

#container_photo {

    display: flex;
    justify-content: center;
    align-content: center;
    
}

#photo {
    border-radius: 50%;
    box-shadow: 0 0 15px #ffffff;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568); */
    transition: 0.5s;
    margin-top: 200px;
}

#photo:hover {
    transform: scale(1.1);
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.568); */
    box-shadow: 0 0 35px #ffffff;
}

/* PRINCIPALE */

main {
    background-color: #1f1f1f;
    
}

h3 {
    color:rgb(193, 214, 233);
    text-align: center;
}

p {
    font-size: 1.5em;
    color: rgb(193, 214, 233);
}

/* TIMELINE */

  
  /* .section SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .section {
    background: #F45B69;
    padding: 50px 0px;
  }
  
  .section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section h1 {
    font-size: 2.5rem;
  }
  
  .section h2 {
    font-size: 1.3rem;
  }
  
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline {
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 250px 250px 60px;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }
  
  .timeline ol li:last-child {
    width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #3a519c;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto; 
    }
    
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
    
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
    
    .timeline ol li:first-child {
      margin-top: 25px;
    }
    
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
    
    .timeline ol li div {
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }
    
    .timeline ol li div {
      position: static;
    }
    
    .timeline ol li:nth-child(odd) div {
      transform: none;
    }
    
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
    
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
  }

  /* FIN TIMELINE */

.espace {
    height: 50px;
    background-color: #1f1f1f;
}

.container_fluid {
    /* background-color: rgb(166, 182, 233); */
    background-color: rgb(34, 51, 107);
    margin:  0px 0px 50px 0px;
    /* margin-top: 3%; */
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.568);
    padding: 5px;
    border: 2px;
}

.title {
    font-family: "Audiowide", cursive;
    margin-top: 15px;
    text-align: center;
    color:  rgb(193, 214, 233);
}

.text {
    text-align: center;
    margin: 30px 30px;
}

/* COMPETENCES */

.competence {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* PROJETS */

/* EXPERIENCES */


.travail {
    font-size: 1em;
    justify-content: center;
}


/* FORMATIONS */
.travail {
    display: flex;
    justify-content: space-evenly;
}


ul {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 1em;
    color:rgb(193, 214, 233);
}


li {
    margin: 50px;
    list-style: none;
    font-size: 2em;
    color:rgb(193, 214, 233);
}

/* FORMULAIRE */

.No6 {
    margin-bottom: 30px;
}

/* MENU */

#fusée {
    width: 50px;
    height: 50px;
    /* transform: rotate(-45deg); */
    transition: .5s ease-in-out;
}

#fusée:hover {
    transform: rotate(45deg);
}

.circle {
    background: #727271;
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 50px #000000;
    transition: .5s ease-in-out;
    align-self: center;
    padding: 10px;
    margin: 10px;
}

.circle:hover {
    transform: scale(1.5);
    background: #e3f300;
    box-shadow: 0 0 50px #ffffff;
}


a {
    margin-top: 5px;
    justify-content: center;
}

#line {
    display: flex;
    background: black;
    width: 2px;
    height: 100px;
    margin-left: 125px;
    transition: .4s;

}

.line-right {
    background: black;
    width: 2px;
    height: 100px;
    margin-left: 140px;
    transform: rotate(-20deg);
    transition: .4s;

}

.line-left {
    background: black;
    width: 2px;
    height: 100px;
    margin-left: 140px;
    transform: rotate(20deg);
    transition: .4s;
}

.menu-content {
    justify-content: center;
}

.right {
    margin-left: 5px;
}

.left {
    margin-right: 5px;
}

#ghost_text_1 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 1em;
}

#ghost_text_2 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 20px;
}

#ghost_text_3 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 20px;
}

#ghost_text_4 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 20px;
}

#ghost_text_5 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 1em;
}

#ghost_text_6 {
    opacity: 0;
    transition: .5s ease-in-out .2s;
    font-size: 1em;
}